body{
    background: url(premium_photo-1678116084738-043ab4135e4e.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;

}

#time{
    font-size: 3em;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(7px);
    background-color: tomato;
    box-shadow: 10px 10px 30px rgb(144, 144, 243);
    margin-top: 0.3em;
    margin-left: 3%;
    margin-right: 3%;


}

#clock{
    font-size: 3em;
    display: flex;
    justify-content: center;
    border: 2px solid;
    place-items: center;
    align-items: center;
    align-content: center;
    margin-top: 50%;
    margin-bottom: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    border-color: green;
    backdrop-filter: blur(20px);
    padding: 10px;
    font-weight: bold;
    font-family: verdana;
    width: 90%;
    margin-left: 1.4%;
}

footer{
    margin-top: 3.5em;
    background-color: green;
    color: white;
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.4em;
    font-size: 1.4em;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    color: white;
    font-weight: bold;
    margin-left: 0.3em;
    font-size: 1.04em;
    margin-bottom: 0.2em;
    border: 2px solid;
    border-radius: 8px;
    padding: 10px;
}